<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb2af5b4-d8ca-4b08-ae74-20d3355e4f7c" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="032fd7fd-7fba-45f9-b33b-4046302f99ae">contentProperties</Composition>
      <Composition Key="c8d18dfb-9545-4433-bc38-6a623ee07954">headerProperties</Composition>
      <Composition Key="5073c6c1-b46d-474b-a447-4d40539ebc97">mainNaviagtion</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="441a2ed6-3fdd-4126-afca-d77161003514">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7d173a66-b216-49bf-976b-1347f7abf38d" SortOrder="0">contentPage</ContentType>
    <ContentType Key="4a0e74db-a173-44f1-9cdc-68410d8ba52d" SortOrder="1">productPage</ContentType>
    <ContentType Key="2a5acdff-46f1-4737-9b9d-c0faa7287f18" SortOrder="2">reviewListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>