<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a0e74db-a173-44f1-9cdc-68410d8ba52d" Alias="productPage" Level="2">
  <Info>
    <Name>Actors Page</Name>
    <Icon>icon-item-arrangement color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Showing the products</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c8d18dfb-9545-4433-bc38-6a623ee07954">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5c2c424a-0723-4aef-8f23-cc40217381ee">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>