<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2a5acdff-46f1-4737-9b9d-c0faa7287f18" Alias="reviewListPage" Level="2">
  <Info>
    <Name>Review List Page</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of reviews</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c8d18dfb-9545-4433-bc38-6a623ee07954">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ReviewListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>