@inherits UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels;

<!-- Main Content-->
<div class="container px-4 px-lg-5" style="text-align: center;">
  <h1>Please click on Movies to check which movies are currently being reviewed.</h1>
</div>
