<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a0b4bfc-5001-4e7c-805e-e340a173978c" Alias="Happy Person Giving Positive Feedback 52683 62959" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HappyPersonGivingPositiveFeedback5268362959</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T09:04:07</CreateDate>
    <NodeName Default="Happy Person Giving Positive Feedback 52683 62959" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5jfbwkqb/happy-person-giving-positive-feedback_52683-62959.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>