<?xml version="1.0" encoding="utf-8"?>
<Media Key="884ac77f-8068-470f-9d77-500958f5321b" Alias="Movies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Movies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-22T12:29:31</CreateDate>
    <NodeName Default="Movies" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>