<?xml version="1.0" encoding="utf-8"?>
<Media Key="616c84dc-9649-42e5-a941-c4c72b93ced9" Alias="Review Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReviewImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-21T12:04:00</CreateDate>
    <NodeName Default="Review Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1kcgyykj/review_image.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>