<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5f2a28e-3d2f-4355-9a0e-bf4810496041" Alias="Schermafbeelding 2023 05 20 Om 16.36.40" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schermafbeelding20230520Om163640</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-20T18:06:51</CreateDate>
    <NodeName Default="Schermafbeelding 2023 05 20 Om 16.36.40" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcrpfjjp/schermafbeelding-2023-05-20-om-163640.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>