<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f1805c8-7ecb-4dab-96f7-aa9e317fc315" Alias="Schermafbeelding 2023 05 22 Om 14.11.57" Level="2">
  <Info>
    <Parent Key="884ac77f-8068-470f-9d77-500958f5321b">Movies</Parent>
    <Path>/Movies/Schermafbeelding20230522Om141157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T14:12:31</CreateDate>
    <NodeName Default="Schermafbeelding 2023 05 22 Om 14.11.57" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zycbq54l/schermafbeelding-2023-05-22-om-141157.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>