<?xml version="1.0" encoding="utf-8"?>
<Media Key="240da07f-2f0c-48f5-a5be-f3c3d139ffe7" Alias="Schermafbeelding 2023 05 22 Om 14.11.28" Level="2">
  <Info>
    <Parent Key="884ac77f-8068-470f-9d77-500958f5321b">Movies</Parent>
    <Path>/Movies/Schermafbeelding20230522Om141128</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T14:12:31</CreateDate>
    <NodeName Default="Schermafbeelding 2023 05 22 Om 14.11.28" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pgqa0jam/schermafbeelding-2023-05-22-om-141128.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>