<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e6e83d3-d4fb-45a8-a0ff-f17375d43f2d" Alias="Train" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Train</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-21T12:04:30</CreateDate>
    <NodeName Default="Train" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0wbh3dx1/train.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>