<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4541713-edb9-46d3-af7f-27f538986549" Alias="WMCJ" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WMCJ</Path>
    <Trashed Parent="884ac77f-8068-470f-9d77-500958f5321b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T12:29:44</CreateDate>
    <NodeName Default="WMCJ" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/culfjnfz/wmcj.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>