<?xml version="1.0" encoding="utf-8"?>
<Media Key="5224cbda-5162-4248-96a8-f60c0ffc9ab7" Alias="WMCJ2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WMCJ2</Path>
    <Trashed Parent="884ac77f-8068-470f-9d77-500958f5321b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-22T13:57:27</CreateDate>
    <NodeName Default="WMCJ2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1tfdiutc/wmcj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>