<?xml version="1.0" encoding="utf-8"?>
<Content Key="175f27fa-3ef8-464a-91fb-5f65775b3d9e" Alias="Actors" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Actors</Path>
    <Trashed Parent="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">true</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2023-05-21T11:41:09</CreateDate>
    <NodeName Default="Actors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5c2c424a-0723-4aef-8f23-cc40217381ee">ProductPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "4c73b73d-3456-4966-bab3-e0001212d227",
    "mediaKey": "616c84dc-9649-42e5-a941-c4c72b93ced9"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Actors]]></Value>
    </title>
  </Properties>
</Content>