<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d2743ef-2b0f-4428-96e2-c5aa1dcf4083" Alias="Actors (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Actors1</Path>
    <Trashed Parent="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-22T09:13:43</CreateDate>
    <NodeName Default="Actors (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e27047e9-51b1-40e4-a697-479b81329e84">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[[
  {
    "key": "88e430ee-22c4-4986-97e4-73987098e2dd",
    "mediaKey": "2a0b4bfc-5001-4e7c-805e-e340a173978c"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Actors]]></Value>
    </title>
  </Properties>
</Content>