<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab3fda9c-d270-4306-8e13-29463e46552f" Alias="Aftersun" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Aftersun</Path>
    <Trashed Parent="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-22T21:19:37</CreateDate>
    <NodeName Default="Aftersun" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e27047e9-51b1-40e4-a697-479b81329e84">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[[
  {
    "key": "91777d06-42db-4220-930b-0b875317c9b5",
    "mediaKey": "240da07f-2f0c-48f5-a5be-f3c3d139ffe7"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Aftersun]]></Value>
    </title>
  </Properties>
</Content>