<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4821d57-bcc7-43b2-8c64-258f0fd02e53" Alias="Aftersun" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/Aftersun</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-06-06T21:10:22</CreateDate>
    <NodeName Default="Aftersun" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "4e74d56b-d1a8-4016-9d10-f1b966f2fb65",
    "mediaKey": "240da07f-2f0c-48f5-a5be-f3c3d139ffe7"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[Aftersun Reviews]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Aftersun]]></Value>
    </title>
  </Properties>
</Content>