<?xml version="1.0" encoding="utf-8"?>
<Content Key="6066f8c1-f146-48dc-acd4-32a6f28b5c0c" Alias="Assassin" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/Assassin</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-06-06T16:14:38</CreateDate>
    <NodeName Default="Assassin" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "40edb7e7-a680-4ecb-8620-3e6a7eab98b1",
    "mediaKey": "bc2657c1-5e9b-41c4-b84f-9dedaa9c6773"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[Comment Below]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Assassin]]></Value>
    </title>
  </Properties>
</Content>