<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a33d65c-2aeb-4990-8471-0db30f9fd8bd" Alias="Assassin" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/Assassin</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-06-06T16:18:12</CreateDate>
    <NodeName Default="Assassin" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "739ab831-b560-49ee-b203-1a2cc23f9940",
    "mediaKey": "bc2657c1-5e9b-41c4-b84f-9dedaa9c6773"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[Assassin Reviews]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Assassin]]></Value>
    </title>
  </Properties>
</Content>