<?xml version="1.0" encoding="utf-8"?>
<Content Key="50d1f76f-d498-4fe9-aaeb-6bba5e79d112" Alias="God's Country" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/GodsCountry</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-06-06T21:05:15</CreateDate>
    <NodeName Default="God's Country" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "dc3e526e-5dfc-4d30-9abf-31ecdd5ed771",
    "mediaKey": "7f1805c8-7ecb-4dab-96f7-aa9e317fc315"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[God's Country Reviews]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[God's Country]]></Value>
    </title>
  </Properties>
</Content>