<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0192101-0f5d-482f-ae82-baf89fe5d42a" Alias="God's Country" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GodsCountry</Path>
    <Trashed Parent="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-22T21:20:22</CreateDate>
    <NodeName Default="God's Country" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e27047e9-51b1-40e4-a697-479b81329e84">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[[
  {
    "key": "a482039f-25af-4271-b668-bf4d0d311468",
    "mediaKey": "7f1805c8-7ecb-4dab-96f7-aa9e317fc315"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[God's Country]]></Value>
    </title>
  </Properties>
</Content>