<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-20T17:42:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="441a2ed6-3fdd-4126-afca-d77161003514">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>If you have more movies you are interested please contact us on reviewrequest@gmail.com!</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[[
  {
    "key": "e2b3f465-8974-436d-8691-f0ce533ed498",
    "mediaKey": "545770c0-48a6-48b5-babd-e13961898da3"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b2587d6b4d234c7b9cd0bf9ab85170e4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4fbab278-8544-47b2-88e4-6c8499450fa8",
      "udi": "umb://element/b2587d6b4d234c7b9cd0bf9ab85170e4",
      "content": "<p>Please click on -movies- to see which movies are being reviewed.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <navigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/4c568099e7fe44f78b7bf231c6bf6fa6"
  },
  {
    "name": "Movies",
    "udi": "umb://document/cc61be37241b4b48a68a65b8125fc635"
  },
  {
    "name": "Actors",
    "udi": "umb://document/3d2743ef2b0f442896e2c5aa1dcf4083"
  }
]]]></Value>
    </navigation>
    <subTitle>
      <Value><![CDATA[- Where we share our reviews -]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Movie Review Site]]></Value>
    </title>
  </Properties>
</Content>