<?xml version="1.0" encoding="utf-8"?>
<Content Key="d329acd0-b6c2-417a-a904-6ce3a68c9845" Alias="M3gan" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/M3gan</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-06-06T21:09:50</CreateDate>
    <NodeName Default="M3gan" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "b81e6550-a2c3-42cd-9cc2-e3b53ac2b84d",
    "mediaKey": "d13e3e62-ec8c-4f33-9b03-2efa7f8223d5"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[M3gan Reviews]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[M3gan]]></Value>
    </title>
  </Properties>
</Content>