<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc61be37-241b-4b48-a68a-65b8125fc635" Alias="Movies" Level="2">
  <Info>
    <Parent Key="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">Home</Parent>
    <Path>/Home/Movies</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-20T20:46:31</CreateDate>
    <NodeName Default="Movies" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e27047e9-51b1-40e4-a697-479b81329e84">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>test</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[[
  {
    "key": "05fee764-9adc-47d1-9091-9f8e2c6c1103",
    "mediaKey": "2a0b4bfc-5001-4e7c-805e-e340a173978c"
  }
]]]></Value>
    </image>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4998fd202d934e82802cdc92b431f376"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b4911e0b-9759-4bf7-8165-d60d1e6485e1",
      "udi": "umb://element/4998fd202d934e82802cdc92b431f376",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b8426be435cc44f6b4d7dacb8150a0e9"
            },
            {
              "contentUdi": "umb://element/4e4972921f5c468ca90d43737e145a33"
            },
            {
              "contentUdi": "umb://element/92a57f89a6354615ad1e08b3180dadcf"
            },
            {
              "contentUdi": "umb://element/d467dcfe10e54d66bf8dc0ab8129996d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "32f7995f-2a5e-4033-a1ff-7a348ce1969a",
            "udi": "umb://element/b8426be435cc44f6b4d7dacb8150a0e9",
            "image": [
              {
                "key": "966d2558-369a-42b3-9602-0dde0c767957",
                "mediaKey": "bc2657c1-5e9b-41c4-b84f-9dedaa9c6773"
              }
            ],
            "link": [
              {
                "name": "Assassin",
                "udi": "umb://document/7a33d65c2aeb499084710db30f9fd8bd"
              }
            ],
            "title": "Assassin",
            "description": "<p>\"Assassin\" is a movie about a highly skilled and trained individual who carries out targeted killings for various reasons, often involving espionage, crime, or political motives.</p>"
          },
          {
            "contentTypeKey": "32f7995f-2a5e-4033-a1ff-7a348ce1969a",
            "udi": "umb://element/4e4972921f5c468ca90d43737e145a33",
            "image": [
              {
                "key": "5fed36f1-6b38-4a67-81de-81d30c7f88bd",
                "mediaKey": "240da07f-2f0c-48f5-a5be-f3c3d139ffe7"
              }
            ],
            "link": [
              {
                "name": "Aftersun",
                "udi": "umb://document/c4821d57bcc743b28c64258f0fd02e53"
              }
            ],
            "title": "Aftersun",
            "description": "<p>\"AfterSun\" is a heartwarming coming-of-age film that follows a group of friends as they navigate love, friendship, and self-discovery during a memorable summer vacation.\"</p>"
          },
          {
            "contentTypeKey": "32f7995f-2a5e-4033-a1ff-7a348ce1969a",
            "udi": "umb://element/92a57f89a6354615ad1e08b3180dadcf",
            "image": [
              {
                "key": "74d8e162-0ad2-464c-b5bc-e07b43c70e40",
                "mediaKey": "d13e3e62-ec8c-4f33-9b03-2efa7f8223d5"
              }
            ],
            "link": [
              {
                "name": "M3gan",
                "udi": "umb://document/d329acd0b6c2417aa9046ce3a68c9845"
              }
            ],
            "title": "M3gan",
            "description": "<p>\"M3GAN\" is a movie about a family that brings a high-tech artificial intelligent robotic doll named M3GAN into their home, only to discover that the doll has a sinister and dangerous nature.</p>"
          },
          {
            "contentTypeKey": "32f7995f-2a5e-4033-a1ff-7a348ce1969a",
            "udi": "umb://element/d467dcfe10e54d66bf8dc0ab8129996d",
            "image": [
              {
                "key": "66ef244c-c65f-4653-bfd0-39e773ef107d",
                "mediaKey": "7f1805c8-7ecb-4dab-96f7-aa9e317fc315"
              }
            ],
            "link": [
              {
                "name": "God's Country",
                "udi": "umb://document/50d1f76fd4984fe9aaeb6bba5e79d112"
              }
            ],
            "title": "God's Country",
            "description": "<p>\"God's Country\" is a movie about a city-dwelling woman who moves to a rural town and becomes embroiled in a community's deep-rooted conflicts and cultural differences.</p>"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <subTitle>
      <Value><![CDATA[- Only honest reviews -]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Movies]]></Value>
    </title>
  </Properties>
</Content>