<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f875c88-0d54-495d-b639-4766dbc79a67" Alias="Reviews" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Reviews</Path>
    <Trashed Parent="4c568099-e7fe-44f7-8b7b-f231c6bf6fa6">true</Trashed>
    <ContentType>reviewListPage</ContentType>
    <CreateDate>2023-05-21T11:41:20</CreateDate>
    <NodeName Default="Reviews" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="690ac7fd-0281-47bb-95c7-33087e0e833f">ReviewListPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "76a5e1cc-adf9-470f-ad96-cff9545e3253",
    "mediaKey": "8e6e83d3-d4fb-45a8-a0ff-f17375d43f2d"
  }
]]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Reviews]]></Value>
    </title>
  </Properties>
</Content>